
.Header {
  color: #5293E7;
  font-weight: bold;
  font-size: 12px;
}

.HelpHeader {
  color: #B4B4B4;
  font-style: italic;
  font-weight: bold;
}

.Helper {
  display: flex;
  align-items: center;
}
