
.ResourceDetailsHeader {
  background: #5293E7;
  height: 120px;
  color: white;
  padding: 20px 20px;
  box-sizing: border-box;

  .ChooseItem {
    font-size: 22px;
  }

  .Description {
    font-size: 15px;
    color: #AFCDF2;
    font-style: italic;
  }

}
