
.ResourceSearch {
  padding: 10px;

  .MyResources {
    color: #747474;
    font-size: 20px;
    font-weight: bold;
  }

  .Description {
    color: #B4B4B4;
    font-style: italic;
    font-size: 14px;
    font-weight: bold;
  }

}
